/*
 * SPDX-License-Identifier: Apache-2.0
 */

#if 0
#include <zephyr/dt-bindings/pinctrl/esp-pinctrl-common.h>
#include <dt-bindings/pinctrl/esp32c6-pinctrl.h>
#include <zephyr/dt-bindings/pinctrl/esp32c6-gpio-sigmap.h>
#endif

/ {
	dht11 {
		compatible = "aosong,dht";
		status = "okay";
		dio-gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};

	sens_i2c: sensor-i2c {
		status = "okay";
		compatible = "gpio-i2c";
		clock-frequency = <100000>;
		sda-gpios = <&gpio0 0 GPIO_OPEN_DRAIN>;
		scl-gpios = <&gpio0 1 GPIO_OPEN_DRAIN>;
		#address-cells = <1>;
		#size-cells = <0>;
		bmp280@76 {
			compatible = "bosch,bme280";
			reg = <0x76>;
			status = "okay";
		};
	};
};

#if 0
&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <ESP32_PINMUX(0, ESP_I2CEXT0_SDA_IN, ESP_I2CEXT0_SDA_OUT)>,
			         <ESP32_PINMUX(1, ESP_I2CEXT0_SCL_IN, ESP_I2CEXT0_SCL_OUT)>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};
#endif

